---
export const prerender = false;
import MainLayout from "@layouts/mainLayout.astro";
import ArtistHeader from "@components/Artists/ArtistHeader.astro"
import { getSecret } from "astro:env/server";
import type { Artist, SpotifyTopTracksResponse, ArtistAlbumsResponse } from "@/types/apiTypes"
import { Vibrant } from "node-vibrant/node";
import type { Palette } from "@/types/VibrantTypes";
import { GetPaletteHex} from "@/utils/paletteUtils"
import ArtistActionsTracks from "@/components/Artists/ArtistActionsTracks.tsx"
import refreshToken from "@/services/refreshToken";

const FRONTEND_URL = getSecret("FRONTEND_URL")
const { artist } = Astro.params

const [artistData, artistTopTracks, artistAlbums] = await Promise.all([
    fetch(`${FRONTEND_URL}/api/spotify/artists/${artist}`).then(r => r.json()),
    fetch(`${FRONTEND_URL}/api/spotify/artists/${artist}/top-tracks`).then(r => r.json()),
    fetch(`${FRONTEND_URL}/api/spotify/artists/${artist}/albums`).then(r => r.json())
])

if (artistData.expired || artistData.status === 401) {
    console.log("se termino el token")
    await refreshToken()
}
const imgUrl = artistAlbums?.items[0]?.images.at(0)?.url

let palette: Palette | null = null

if (imgUrl) {
    palette = await Vibrant.from(imgUrl).getPalette()
}
const HexPalette = GetPaletteHex(palette)

---
<MainLayout>
    <div class="h-full w-full relative z-0 bg-neutral-900">
        <ArtistHeader imgUrl={imgUrl} color={HexPalette.DarkMuted} artist={artistData}/>
        <div 
            class="w-full h-full z-40 p-5"
            style={`background: linear-gradient(to top, #171717 85%, ${HexPalette.DarkMuted}80);`}
        >
            <ArtistActionsTracks client:load topTracks={artistTopTracks.tracks}/>
        </div>
    </div>
</MainLayout>

