---
import type { NewReleasesResponse } from "src/interfaces/apiTypes"
import MainLayout from "../layouts/mainLayout.astro"
import NewRealeases from "@components/Home/NewRealeases"
import { getSecret } from "astro:env/server"
import TopArtists from "@components/Home/Artists"
import TopTracks from "../components/Home/TopTracks"
import Footer from "@components/footer.astro"

const FRONTEND_URL = getSecret("FRONTEND_URL")

const artistsIds = "4q3ewBCX7sLwd24euuV69X,06HL4z0CvFAxyc27GXpf02,0C8ZW7ezQVs4URX5aX7Kqx,1mcTU81TzQhprhouKaTkpq,6wWVKhxIU2cEi0K81v7HvP,1Xyo4u8uXC1ZmMpatF05PJ,3TVXtAsR1Inumwj472S9r4,6qqNVTkY8uBg9cP3Jd7DAH,6eUKZXaKkcviH0Ku9w2n3V,6M2wZ9GZgrQXHCFfjv46we"

const newRealeases: NewReleasesResponse | undefined = await (await fetch(`${FRONTEND_URL}/api/spotify/browse/new-releases?limit=10`)).json()
const topArtists = await (await fetch(`${FRONTEND_URL}/api/spotify/artists?ids=${artistsIds}`)).json()

const top50 = await (await fetch(`${FRONTEND_URL}/api/spotify/playlists/1JVocmG0dGNuEFcQgnMZus/tracks`)).json()
---

<MainLayout>
    <div class="w-full h-full bg-gradient-to-t flex flex-col gap-6 from-neutral-900 via-neutral-900 to-violet-950/70 from-65% pl-11 py-6">
        <NewRealeases client:load newRealeases={newRealeases?.albums.items}/>
        <TopArtists client:load artists={topArtists}/>
        <TopTracks client:load topTracks={top50}/>
        <Footer />
    </div>
</MainLayout>